<odoo>
    <record id="view_git_info_config_form" model="ir.ui.view">
        <field name="name">git.info.config.form</field>
        <field name="model">git.info.config</field>
        <field name="arch" type="xml">
            <form string="Git配置" class="oe_form_configuration">
                <sheet>
                    <div class="oe_title">
                        <h1><field name="company_id" invisible="1"/></h1>
                    </div>
                    <div class="row mt16 o_settings_container">
                        <div class="col-12 col-lg-6 o_setting_box">
                            <div class="o_setting_right_pane">
                                <label for="git_dir"/>
                                <field name="git_dir"/>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 o_setting_box">
                            <div class="o_setting_right_pane">
                                <label for="timezone"/>
                                <field name="timezone"/>
                            </div>
                        </div>
                    </div>
                </sheet>
                <footer>
                    <button string="保存" class="btn-primary" special="save" data-hotkey="s"/>
                    <button string="取消" class="btn-secondary" special="cancel" data-hotkey="z"/>
                </footer>
            </form>
        </field>
    </record>

    <record id="git_info_config_action" model="ir.actions.act_window">
        <field name="name">Git配置</field>
        <field name="res_model">git.info.config</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="view_id" ref="view_git_info_config_form"/>
        <field name="context">{'module': 'git_info', 'bin_size': False}</field>
        <field name="res_id">1</field>
    </record>
</odoo>